---
interface Props {
    text: string;
    index: string;
    stylos: string
}
const { text, index, stylos } = Astro.props;
---

<h3
    id={index}
    class={"text-2xl mb-4 font-bold "+ stylos}
>
    {index}: {text}
</h3>
  