---

interface Props{
    url: string;
    name: string;
    stylos: number
}
const {url, name, stylos} = Astro.props
---

{
    stylos == 0 ? <a class=" relative text-center min-w-[100px] md:min-w-[150px] p-1 bg-yellow-200 inline-block rounded-full px-3 py-1 shadow-md text-black" href={url}>{name}</a>: <a class=" relative text-center min-w-[100px] md:min-w-[150px] p-1 line-through text-red-800" href={url}>{name}</a>
}


<style>
    a:hover{
        transition: .2s ease-out;
        transform: scale(1.1);
    }
</style>